<div id="posts" class='thumbnails'>
  <div class='post about_post'><%= about %></div>
  <%= render :partial => 'posts/posts_by_date.jst', :locals => {:hbs =>  {:data => @data.as_json } } %>
</div>
<div class='clear' />

<pre>
  <%= JSON.pretty_generate({:data => @data.as_json }) %>
</pre>
